<div class="userdetail">


 <div class="profile_photo">

 <div class="photo">
   
 </div>

 <%= form_tag url_for(controller: :userdetails , action: :upload) ,multipart: true do %>

    <div class="upload_photo">
    
<%= file_field_tag :image %>
<br>
<%= submit_tag %>
  </div>

  <% end %>

  </div>


<%= form_for(@userdetail) do |f| %>
  <% if @userdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userdetail.errors.count, "error") %> prohibited this userdetail from being saved:</h2>

      <ul>
      <% @userdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



 
  <div class="Bio">
    
    <%= f.text_field :bio , placeholder: "Who Are You ?" %>
  </div>
  <div class="description">
  
    <%= f.text_area :artist_type , placeholder: "Tell Me About Yourself !!!"  %>
  </div>

  <div class="fblink">
   
    <%= f.text_field :fblink , placeholder: "Facebook Link"  %>
  </div>
  <div class="ytlink">
   
    <%= f.text_field :ytlink , placeholder: "Youtube Link"  %>
  </div>
  <div class="soundcloud">
    
    <%= f.text_field :soundcloud , placeholder: "SoundCloud Link"  %>
  </div>
  <div class="done">
    <%= f.submit %>
  </div>
<% end %>

</div>
