

<div class="post_area">

 <div class="real_post_area">

  <div class = "who_post">


 <div id ="photo">

  <% if current_user.profile_photo %>

<img   src="/uploads/<%= userdetail.user.profile_photo %>" alt="<%= userdetail.user.first_name %>"  >

<% else %>

<img src="<%= asset_path('default.png') %>">

<% end %>
</div>

  <div class="who">

  <strong><%= userdetail.user.first_name + userdetail.user.last_name %></strong>
<br>
  <%= userdetail.bio %>

  </div>

  </div>

<%= post.content %><br>

</div>

<% if post.user == current_user %>

  <%= button_to "Delete", url_for(controller: :posts, action: :destroy, id: post.id), 
  remote: true , method: :delete %> 

  <% end %>

</div>

