<div class="update">

<li> <%= link_to "Users", users_path %> </li>
<li> <%= link_to "Account Setting", edit_user_registration_path %> </li>
<li><%= link_to 'Profile' ,
 url_for(controller: :userdetails , action: :show , id: current_user.userdetail.id), method: :get %></li>
<li  id= "signout"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>


</div>

<%= render 'form' %>



<script type="text/javascript">
	
	$(document).ready(function(){

 var list = $("#list");

var update_list = $(".update");

list.append(update_list);

	});

</script>
