<p id="notice"><%= notice %></p>

<h1>Listing Userdetails</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bio</th>
      <th>Artist type</th>
      <th>Profile photo</th>
      <th>Fblink</th>
      <th>Ytlink</th>
      <th>Soundcloud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdetails.each do |userdetail| %>
      <tr>
        <td><%= userdetail.user %></td>
        <td><%= userdetail.bio %></td>
        <td><%= userdetail.artist_type %></td>
        <td><%= userdetail.profile_photo %></td>
        <td><%= userdetail.fblink %></td>
        <td><%= userdetail.ytlink %></td>
        <td><%= userdetail.soundcloud %></td>
        <td><%= link_to 'Show', userdetail %></td>
        <td><%= link_to 'Edit', edit_userdetail_path(userdetail) %></td>
        <td><%= link_to 'Destroy', userdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userdetail', new_userdetail_path %>
