

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" id="close">×</span>
  <img class="modal-content" id="img01">

  <div id="form_show"></div>
 
  <div id="caption"></div>
</div>





<div class="update">

<li><%= link_to 'Edit', 
url_for(controller: :userdetails, action: :edit , id: current_user.userdetail.id), 
remote: true %> </li>
<li> <%= link_to "Users", users_path %> </li>
<li> <%= link_to "Account Setting", edit_user_registration_path %> </li>
<li><%= link_to 'Profile' ,
 url_for(controller: :userdetails , action: :show , id: current_user.userdetail.id), method: :get %></li>
 <li  id= "signout"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>

<li>


</div>



<div id="Video">
	
<%= video_tag  asset_path('giphy.mp4'), :size => "320x240",  :autoplay => true, :loop => true , :id => "video" %>
</div>








<script type="text/javascript">
  
  $(document).ready(function(){

 var list = $("#list");

var update_list = $(".update");

list.append(update_list);


// $.ajax( {

//   url: "/posts/new",

//   datatype: "html",

//   success: function(data){

//    $("#posts").html(data);


//   }


  });

</script>