





<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" id="close">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div  class="user_profile">

<div class="update">

<li><%= link_to 'Edit', 
url_for(controller: :userdetails, action: :edit , id: current_user.userdetail.id), method: :get %> </li>
<li> <%= link_to "Users", users_path %> </li>
<li> <%= link_to "Account Setting", edit_user_registration_path %> </li>
<li><%= link_to 'Profile' ,
 url_for(controller: :userdetails , action: :show , id: current_user.userdetail.id), method: :get %></li>
 <li  id= "signout"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>




</div>

 <div id ="photo">

  <% if @userdetail.user.profile_photo %>

<img  id = "image" src="/uploads/<%= @userdetail.user.profile_photo %>" alt="<%=@userdetail.user.first_name %>"  >

<% else %>

<img src="default.png">

<% end %>
</div>

<h3>Followers : <%= @userdetail.user.followers_count %></h3>
<h3>Following : <%= @userdetail.user.followees_count %></h3>




<div id= "user_name">

  <%= @userdetail.user.first_name%>
  <%= @userdetail.user.last_name%>



</div>




<div id= "user_bio">

  <%= @userdetail.bio %>


</div>


<div id="user_description">

  <%= @userdetail.artist_type %>


</div>



<div class="links">

<div id="user_fblink">




    <a href = "  <%= @userdetail.fblink %>">

  <%= image_tag "/assets/fb.png" %>

  </a>


</div>

<div id="user_ytlink">


  <a href = "<%= @userdetail.ytlink %>">

  <%= image_tag "/assets/youtube.png" %>

  </a>
 

</div>

<div id="user_soundcloud">

 

    <a href = " <%= @userdetail.soundcloud %>">

  <%= image_tag "/assets/soundcloud.png" %>

  </a>


</div>

</div>



</div>

<script type="text/javascript">
  
  $(document).ready(function(){

 var list = $("#list");

var update_list = $(".update");

list.append(update_list);

  });

</script>