

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" id="close">×</span>
  <img class="modal-content" id="img01">

  <div id="form_show"></div>
 
  <div id="caption"></div>
</div>





<div class="update">

<li><%= link_to 'Edit', 
url_for(controller: :userdetails, action: :edit , id: current_user.userdetail.id), 
remote: true %> </li>
<li> <%= link_to "Users", users_path %> </li>
<li> <%= link_to "Account Setting", edit_user_registration_path %> </li>
<li><%= link_to 'Profile' ,
 url_for(controller: :userdetails , action: :show , id: current_user.userdetail.id), method: :get %></li>
 <li  id= "signout"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>

<li>


</div>






<div class ="Video">

<!-- <div id ="name_top">
<%= current_user.first_name + current_user.last_name %>

</div> -->
	
<%= video_tag  asset_path('giphy.mp4'), :size => "320x240",  :autoplay => true, :loop => true , :id => "video" %>
</div>


<main class ="start">


<div class = "profile_container">

<div class = "basic_profile">

<div id ="photo_show">

  <% if @userdetail.user.profile_photo %>

<img  id = "image" src="/uploads/<%= @userdetail.user.profile_photo %>" alt="<%=@userdetail.user.first_name %>"  >

<% else %>

<img src="<%= asset_path('default.png') %>">

<% end %>



<div class = "interact_features">


<div id="message">
<i class="fa fa-envelope-open" aria-hidden="true"></i>



</div>

<div id ="collaborate">
<i class="fa fa-handshake-o" aria-hidden="true"></i>

	</div> 

</div>

<div id = "follow_toggle" >

<%= render 'follow' , user: @userdetail.user %>

</div>


</div>


<div id ="profile_name">

<div >
<span id = name><%= @userdetail.user.first_name + @userdetail.user.last_name %> </span><span id =text>is a</span>


</div>



<div id = musician_type>
	
	<%= @userdetail.musician %>
</div>


<div id ="description">

 Bio:<%= @userdetail.artist_type %>

</div>




 <div id ="follow_show">

<span>
<i class="fa fa-users  fa-1x"" aria-hidden="true"></i>
</span>

<span>


<%= link_to "Followers",url_for(controller: :follow, action: :followers , id: @userdetail.user.id), 
remote: true  %> : <%= @userdetail.user.followers_count %>
</span>
<span>


<%= link_to "Following",url_for(controller: :follow, action: :following , id: @userdetail.user.id), 
remote: true   %> : <%= @userdetail.user.followees_count %></span>

</div> 

<div class="links">


<div id="user_fblink">



 <a href = "  <%= @userdetail.fblink %>">

 <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>

  </a> 


</div>

<div id="user_ytlink">




<a href = "<%= @userdetail.ytlink %>">

<i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
 

  </a>
 

</div>

<div id="user_soundcloud">


<a href = " <%= @userdetail.soundcloud %>">

<i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i>


 </a> 



</div>


</div>

















</div>

</div>

</div>

</main>













<script type="text/javascript">
  
  $(document).ready(function(){

 var list = $("#list");

var update_list = $(".update");

list.append(update_list);


// $.ajax( {

//   url: "/posts/new",

//   datatype: "html",

//   success: function(data){

//    $("#posts").html(data);


//   }


  });

</script>