<div class="update">



<li> <%= link_to "Account Setting", edit_user_registration_path %> </li>
<li><%= link_to 'Profile' ,
 url_for(controller: :userdetails , action: :show , id: current_user.userdetail.id), method: :get %></li>
 <li  id= "signout"><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>


</div>

<div class ="people">
<div class = "loggedin">
<h3> Logged In User : </h3><hr> 
<%= current_user.first_name + current_user.last_name %> <br>
<div class = "users_photo">
<% if current_user.profile_photo %>

<img  id = "image" src="/uploads/<%= current_user.profile_photo %>" alt="<%= current_user.first_name %>"  >

<% else %>

<img src="<%= asset_path('default.png') %>">

<% end %>
</div>
<%= current_user.userdetail.musician %>

</div>

<div class = "otherusers">

<h3>Other Users:</h3><hr>

<% @users.each do |user| %>

<%= render 'users' , user: user %>

<% end %>
</div>

</div>
<script type="text/javascript">
	
	$(document).ready(function(){

 var list = $("#list");

var update_list = $(".update");

list.append(update_list);

	});

</script>



