<div class="update">

<li><%= link_to 'Edit', 
url_for(controller: :userdetails, action: :edit , id: current_user.id), method: :get %> </li>

<li> <%= link_to "Account Setting", edit_user_registration_path %> </li>
<li><%= link_to 'Profile' ,
 url_for(controller: :userdetails , action: :show , id: current_user.id), method: :get %></li>


</div>

<div class ="people">
<div class = "loggedin">
<h3> Logged In User : </h3><hr> 
<%= current_user.first_name + current_user.last_name %> <br>

</div>

<div class = "otherusers">

<h3>Other Users:</h3><hr>

<% @users.each do |user| %>

<%= render 'users' , user: user %>

<% end %>
</div>


</div>

<script type="text/javascript">
var signout = $("#signout");

var update_list = $(".update");

signout.before(update_list);
</script>

