<%= form_for @detail do |f|  %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="">
    
    <%= f.text_field :no_of_guitar_amps , placeholder: "How Many Guitar Amps You Have ?" %>

    </div>

     <div class="">
    
    <%= f.text_field :guitar_amps_d , placeholder: "Give Description of each" %>

    </div>

     <div class="">
    
    <%= f.text_field :no_of_bass_amps , placeholder: "How Many Bass Amps You Have ?" %>

    </div>

     <div class="">
    
    <%= f.text_field :bass_amps_d, placeholder: "Give Description of each" %>

    </div>

       <div class="">
    
    <%= f.text_field :no_of_keyboard_amps, placeholder: "How Many Keyboard Amps You Have ?" %>

    </div>


       <div class="">

        <%= f.text_field :keyboard_amps_d , placeholder: "Give Description of each" %>
    
   

    </div>

       <div class="">

        <%= f.text_field :no_of_microphone , placeholder: "How Many Microphone  You Have ?" %>
    
   

    </div>

          <div class="">
    
    <%= f.text_field :microphone_d , placeholder: "Give Description of each" %>

    </div>

          <div class="">
    
    <%= f.text_field :drumkit , placeholder: "How Many Drum Kits You Have ?" %>
    </div>

          <div class="">
    
    <%= f.text_field :drumkit_d , placeholder: "Give Description of each" %>

    </div>

          <div class="">
    
    <%= f.text_field :sound_system , placeholder: "How Many Sound Systems You Have ?" %>

    </div>

          <div class="">
    
    <%= f.text_field :sound_system_d, placeholder: "Give Description of each" %>

    </div>

  
 

  <div class="">
    <%= f.submit %>
  </div>

   </div>
<% end %>


