
<div class ="follow_user">
<header>
<span>
Followers
</span>

</header>


<% @followers.each do |user| %>

<div class="follow_user_show">

<div>

 <% if user.profile_photo %>

<img src ="/uploads/<%= user.profile_photo %>" >
<% else %>

<img src="<%= asset_path('default.png') %>">
<% end %>

<b>
<%= user.first_name + user.last_name %>
</b>


<% unless user.userdetail.nil? %>

<%= link_to "@#{user.username }" ,
 url_for(controller: :userdetails, action: :show, id: user.userdetail.id), method: :get %>

<% end %>
</div>

<span class="follow_button">
<% if current_user.can_follow(user.id) %>

    <%= button_to "Follow", url_for(controller: :follow, action: :follow_toggle, followee_id: user.id), method: :post , remote: true, id: "follow_#{ user.id }"%> 
<% end %>





<% if current_user.can_un_follow(user.id) %>



<%= button_to "UnFollow", url_for(controller: :follow, action: :follow_toggle, followee_id: user.id), method: :post , remote: true, id: "follow_#{ user.id }"%> 

<% end %>
</span>

</div>

<% end %>



</div>
