<!DOCTYPE html>
<html>
<head>

<title>M.I.C</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	

	<header>
		
		<div class ="name">

		<h4>M.I.C.</h4>
		

		</div>


		<nav>
		<ul id="list">
			<li>Home</li>
			<li>Contact</li>

 <li> <%= link_to 'Jampads' , jampad_home_path  %> 

</li>

			

		</ul>
			


		</nav>




	</header>



	<main class="start">

	
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>', type: 'success' , theme: 'metroui'});
</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error' , theme: 'metroui'});
</script>
<% end %>




 



<%= yield %>

</main>




</body>
</html>
