<!DOCTYPE html>
<html>
<head>

<title>M.I.C</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="start_page">

<section id="logo">
	

LoGo
</section>


<nav>
	
<ul>
	 <li>  <a href="jampad_home">Jampads</a>
    </li>

	<li>
		 <%= link_to "People",  people_path %> 
	</li>

	<li>
		Events
	</li>
</ul>


</nav>
	

</header>


<%= yield %>






</body>
</html>
